.header {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin: 5px;
    justify-content: flex-end;
    padding-left: 4%;
    padding-right: 4%;
}

.accordion-header {
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.accordion-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #dddddd;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.settings-icon {
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 35px;
    color: #888888;
    margin-left: auto;
}
  
.settings-icon.open {
    color: red;
    animation: spin 1s ease-in-out;
}

.api-key-component {
    background-color: #e2e2e2;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.api-key-input {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.visibility-button {
    color: #888888;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.disclaimer {
    font-size: small;
    font-style: italic;
    color: #888888;
}
