.App {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-evenly;
}
  
.input-component,
.output-component {
    margin: px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row;
    word-wrap: break-word;
    width: 45%;
}

.input-section {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.output-section {
    background-color: #ffffff;
    border: 15px solid #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #242424;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.output-box {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.latex-preview {
    margin-top: 5%;
}

.latex-preview-container {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    background-color: #f9f9f9;
}